<p style="color: green"><%= notice %></p>

<h1>Developers</h1>

<div id='new_developer'>
  <%= render partial: 'developers/form', locals: { developer: Developer.new } %>
</div>

<%= link_to "New developer", new_developer_path %>

<div id="developers">
  <%= render @developers %>
</div>