<p style="color: green"><%= notice %></p>

<h1>Developers</h1>

<%
=begin%>
 <div id='new_developer'>
  <%= render partial: 'developers/form', locals: { developer: Developer.new } %>
</div> 
<%
=end%>

<%= link_to "New developer", new_developer_path, data: { turbo_frame: 'modal' } %>

<div id="developers">
  <%= render @developers %>
</div>