<p style="color: green"><%= notice %></p>

<h1>Developers</h1>

<div class="grid-container">

  <div class='grid-child tables'>
    <%= link_to "New developer", new_developer_path, data: { controller: 'turbomodal', turbo_frame: 'modal', action: 'click->turbomodal#showModal' }, class: 'new-developer' %>

    <%= turbo_frame_tag :developers, src: lists_developers_path(format: turbo_stream, page: params[:page]), loading: :lazy do %>
      <span class='loading'>Loading...</span>
    <% end %>
  </div>

  <div class='grid-child notifications-grid'>
    <h4>Notifications</h4>
    <%= render 'notifications/lists', collection: @notifications %>
  </div>
</div>