
# General settings
RAILS_ENV=development
MAX_THREADS=2
WEB_CONCURRENCY=1

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/hotwired_app_development?encoding=utf8&pool=5&timeout=5000

# Secrets settings
RAILS_MASTER_KEY=7b2fc435eed839eb4fb36bfc9e14f478

# Logstash settings
RAILS_LOG_TO_STDOUT=enabled
