<div class='load-notification'>
  <% if page.present? %>
    <%= button_to 'Load more...', 
        lists_notifications_path(load: true, page: page.to_i), method: :post, 
        data: { turbo_stream: true } %>
  <% end %>
</div>