#developers  {
  display: block;
  justify-content: center;
  align-items: center;

  padding: 10px;
  margin: 0 10px;
}

.new-developer {
  margin: 0 20px;
}

#developers td.name-email {
  width: 10%;
}

#developers td.address {
  width: 30%;
}

#developers td.action {
  width: 30%;
}

.developers-pagination {
  display: block;
  background-color: skyblue;
  padding: 7px 5px;
  margin-right: 18px;
  max-width: 235px;
  float: right;

  form {
    display: inline-block;
  }
  .pagination-text {
    height: 30px;
    width: 50px;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.grid-container {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-gap: 20px;
}

.notifications-grid {
  ul {
    padding: 0;
  }

  .read {
    background-color: #DBF2DE;
  }

  li {
    display: block;
    font-size: 14px;
    padding: 1 7px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #e6b3b3;

    p {
      margin: 0;
      font-weight: bold;

      span {
        font-size: 10px;
        font-weight: lighter;
        margin: 0 5px auto;
      }
    }

    .desc {
      display: block;
      margin-top: 1px;
    }

    .time {
      display: block;
      font-size: 11px;
      margin-top: 2px;
    }
  }
}
