.notifications-ul {
  height: 1100px;
  overflow: auto;
  border: 1px solid #d53a3a;
}

.load-notification {
  text-align: right;
  font-size: 14px;
  
  a {
    text-decoration: none;
    padding: 0 10px 0 0;
    background-color: darkblue;
    color: ghostwhite;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;  
  }
}